.header {
  background: #5281ca;
  display: flex;
  align-items: center;
  padding: 1% 5%;
}

.header-title {
  flex: 1 1 auto;
  margin-right: auto;
  position: relative;
  font-family: "Droid Sans", sans;
  color: white;
}

.header-title button {
  font-family: "Droid Sans", sans;
  color: white;
  background: inherit;
  font-size: 1.8rem;
  border: none;
}

.header-nav {
  flex: 1 1 auto;
  margin-right: 5rem;
}

ul {
  list-style: none;
}

.header-nav li {
  display: inline;
  padding: 0 5% 0 0;
  font-family: "Roboto", "Helvetica", sans;
  color: white;
}

.header-nav button {
  background: inherit;
  color: white;
  border: none;
  font-size: 1rem;
}

.header-nav button:hover {
  color: yellow;
}

.home-container {
  display: flex;
  margin: 5% 1%;
  min-height: 70vh;
}

.main-content {
  margin: 5% 2%;
  padding: 1rem;
  flex: 5 1 auto;
  font-family: "Noto Sans", sans;
}

.side-content {
  margin: 10px auto;
  flex: 1 1 auto;
}

.footer {
  display: flex;
  font-family: sans;
  color: white;
  background: black;
  padding: 2% 0;
}

.contact {
  flex: 1 1 auto;
}

.mr5 {
  margin-bottom: 5%;
}

.contact li {
  margin: 5% auto;
  letter-spacing: 0.3rem;
}

.socials {
  flex: 1 1 auto;
}

.socials li {
  display: inline;
  margin-right: 1%;
}

/* Menu CSS */
.Menu {
  margin: 5% 5%;
  min-height: 70vh;
}

.MenuEle {
  margin: 1%;
  border: thin solid blue;
  border-radius: 0.3rem;
}

.MenuEle-focused {
  position: absolute;
  top: 20%;
  bottom: 25%;
  left: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: thin solid black;
  right: 25%;
  background: azure;
  padding-top: 1em;
}

.focused-detail {
  display: flex;
}

.focused-image {
  flex: 1 1 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.focused-image img {
  width: 80%;
  height: 80%;
  border: thin solid black;
}

.focused-description {
  flex: 1 1 0;
}

.focused-description h3 {
  font-size: 1.5em;
}

.exit {
  background: red;
  padding: 0.3em 0.3em;
  font-size: 1.1em;
  border: thin solid black;
}

/* Visit CSS */
.visit-table {
  margin: 3%;
  width: 33%;
  flex: 1 1 auto;
  height: fit-content;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  border: medium solid grey;
  border-radius: 1em;
  text-align: center;
}

.table-top-grid {
  grid-column-start: 1;
  align-items: center;
  grid-column-end: 4;
  grid-row-start: 1;
  border-bottom: thin solid green;
  font-size: 1.2em;
  height: 2em;
}

.visit-cell {
  height: 5em;
  border: thin inset green;
  border-radius: 0.3em;
}

.visit-area {
  display: flex;
  margin: 0 15%;
  min-height: 70vh;
}

.cell-red {
  background: #f42525;
}

.cell-green {
  background: #61ff61;
}
